/* Styles go here. */

#mainCanvas {
    width: 400px;
    height: 400px;
    border: solid 1px black;
} 

li {

    background-color: pink;
}

  ul > li {
    color:red;
  }

.list-item {

    color:greenyellow;
}
 #header  {

    color: pink;
    font-size:100px;
    position: relative;
    right:50px;
    padding: 20 px 10 px 30px 20 px;
    margin: 10px 20 px 50 px 12 px;
    border: 10px solid black; 
 }



@media only screen and (max-width: 600px){

    body {

        background-color: yellow;
       /* display:inline-block; add for divs
    }

}